<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzM78aylMM3a8EnUbUc_qXBbm1DgyAFXs</string>
	<key>GCM_SENDER_ID</key>
	<string>723071844192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medsupport.medisync</string>
	<key>PROJECT_ID</key>
	<string>medisync-4ec40</string>
	<key>STORAGE_BUCKET</key>
	<string>medisync-4ec40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723071844192:ios:b0fe149e5e748ed1df2805</string>
	<key>DATABASE_URL</key>
	<string>https://medisync-4ec40-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>